{% extends 'layout.html' %}
{% block body %}
<h1> List of Films - </h1>
   {% for films in all_films %}
        
<h2>{{films.title }}</h2>

Film Desciption: {{ films.description }} <br>
Release Date: {{ films.released_at}} <br> Age Rating: {{ films.age_rating }}

<br>
<form action="{{ url_for('update', id=films.id) }}">

   <input type=submit value="Update">
</form>
<form action="{{ url_for('deletefilm', id=films.id) }}">

   <input type=submit value="Delete">
</form>

{% endfor %}

{% endblock body %}