{% extends 'layout.html' %}
{% block body %}

<h1> Movie Reviews - </h1>
    {% for review in all_reviews %}
        
             <h2>{{review.film_title }}</h2>
             <h3>{{ review.author }} </h3>
            {{ review.review }} <br> <h3>{{ review.rating }}</h3>
            <br>
            {{ review.review_date }}
            <br>
            <form action="{{ url_for('update', id=review.id) }}">
            
                <input type=submit value="Update">
            </form>
            <form action="{{ url_for('delete', id=review.id) }}">
            
                <input type=submit value="Delete">
            </form>

        
    {% endfor %}

{% endblock body %}