{% extends 'layout.html' %}
{% block body %}

<h1> Movie Reviews - </h1>
    {% for film in all_film %}
        
             <h2>{{film.title }}</h2>

             {% for review in film.review %}
             <br>
             {{ review.review }} <br>
             <br>
             Published by: {{ review.author }}
              <br> Score: {{ review.rating }} /10
            <br>
            {{ review.review_date }}
            <br>
            <form action="{{ url_for('update', id=review.id) }}">
            
                <input type=submit value="Update">
            </form>
            <form action="{{ url_for('deletereview', id=review.id) }}">
            
                <input type=submit value="Delete">
            </form>
            {% endfor %}
        
    {% endfor %}

{% endblock body %}